*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* default style */

.container{
    width: 75%;
    margin: 0 auto;
}

.primary-text-clr-1{
    color: #fd6e0a;
}

.primary-text-clr-2{
    color: #474747;
}

.primary-text-clr-3{
    color: #757575;
}

.primary-btn{
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #fd6e0a;
}

.primary-bg{
    background-color: #fff8f3;
}

.font-30{
    font-size: 30px;
}


/* navbar related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

nav h3 {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 50px;
    list-style: none;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
}


/* banner related styles */

.header{
    background-image: url('../assets/developer.png'), url('../assets/header_bg.png');
    background-repeat: no-repeat;
    background-position: center left 30px, bottom right;
    background-size: 65px, 575px;
    background-color: #fff8f3;
}

.banner {
    display: flex;
    margin: 0px  40px 0px 161px;
    align-items: center;
    justify-content: space-between;
}

.banner img {
    width: 400px;
    margin-top: 35px;
}

.banner-content {
    max-width: 550px;
}

.banner-content h3 {
    font-size: 35px;
    font-weight: 600;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
}

button.banner-second-btn {
    border: none;
    padding: 14px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fd6e0a;
    background: white;
    border: 1px solid #fd5e0a;
    margin-left: 10px;
}


/* about related styles */

section.about {
    margin-top: 100px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 100px;
}

.about-content {
    padding: 75px 140px 30px;
}

.about-content p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 30px;
}

.about-info {
    display: flex;
    justify-content: space-between;
    padding: 0px 140px 75px;
}

.about-info-item h3 {
    font-size: 16px;
    color: #424242;
}


/* What i do section styles */

.skills-description {
    text-align: center;
}

.skills-description p {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 14px;
    line-height: 25px;
}

.skills {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.skill {
    box-shadow: 0px 6px 50px rgb(0 0 0 / 19%);
    border-radius: 5px;
    padding: 20px;
}

.skill img {
    width: 35px;
    margin-bottom: 15px;
}

.skill h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.skill p {
    font-size: 14px;
    line-height: 25px;
}


/* resume related styles */

.resume-header {
    text-align: center;
    margin-bottom: 50px;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.my-education h1 {
    margin-bottom: 30px;
}

.single-education h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.single-education h4 {
    margin-bottom: 15px;
}

.single-education p {
    font-size: 14px;
    line-height: 25px;
}

.single-education {
    margin-top: 30px;
}

.my-education hr {
    margin-top: 25px;
}

.resume-btn {
    text-align: center;
    margin-top: 50px;
}